:root {
  --black: #1b2021;
  --light-black: #30343f;
  --pink: #ea638c;
  --dark-pink: #89023e;
  --light-pink: #ea638c;
  --white: #f1f1f1;
}
@font-face {
  font-family: "krungthep";
  src: url("../fonts/krungthep.ttf");
}
@font-face {
  font-family: "04B";
  src: url("../fonts/04B.ttf");
}
html, body {
  margin: 0;
  padding: 0;
  font-family: '04B';
}